.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  max-width: 600px;
  background-color: #eaeaea;
  border-radius: 15px;
  padding: 20px;
  .playerCard {
    display: flex;
    align-items: center;
  }

  .killButton {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    height: 20px;
  }
}

.phaseInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;

  p {
    font-size: 20px;
    font-weight: 600;
  }
  .sleepBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    height: 40px;
    padding: 5px;
  }
  .descBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    height: 40px;
    padding: 5px;
  }
}
.winnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .winnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    p{
        font-size: 30px;
        font-weight: 600;
    }
    button{
        display: flex;
        font-size: 20px;
        border-radius: 25px;
        border: 1px solid black;
        padding: 10px;
    }
  }
}
